<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>Orders:</b>
  <%=h @user.orders %>
</p>

<p>
  <b>Is vendor:</b>
  <%=h @user.is_vendor %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>